*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: rgba(176, 221, 206, 0.808);
    color: rgba(190, 64, 10, alpha);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header{
    background-color: #6486a1f1;
    padding: 25px;
    text-align: center;
    position: relative;
    width: 100%;
}

h1{
    text-align: center;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #252A2E;
}
.pictures-index{
    margin: 15px 2%;
    width: 40%;
    border-radius: 15%;
    border: 5px solid rgb(106, 86, 139);
}

p{
    padding: 25px;
}

#join{
    color: #252A2E;
    background-color: #6486a1f1;
}

.contact{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.form-control{
    border-radius: 1rem;
}

.btn{
    display: flex;
    margin: auto;
    margin-top: 10px;
}

footer{
    background-color: #252A2E;
    color: #fafafa;
    padding: 25px;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .network a{
    color: #fafafa;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fafafa;
    border-radius: 100%;
    width: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
/*


.network{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 25px;
}

*/

/********************************    DESKTOP     **************************************/

@media screen and (min-width: 550px) {
    .network{
        width: 100%;
        justify-content: space-evenly;
        padding: 0;
    }
}